[Unit]
Description=Mosquitto Exporter Service

[Service]
Type=forking
ExecStart=/opt/exporter/mosquitto_exporter --endpoint tcp://127.0.0.1:1883 -u {{ mosquitto_username }} -p {{ mosquitto_password }}
ExecStop=pkill -u exporter
User=exporter
Group=exporter

[Install]
WantedBy=multi-user.target